.Panel{
    background-color: dodgerblue;
    padding: 0px 0px 10px 0px;
  
    margin: 5px 5px 0px 5px;
    border-radius: 5px 5px 5px 5px;
     
    box-shadow: 5px 7px 20px -2px rgba(0,0,0,0.75);
     }
  .BoardBar{
    background-color: #d4edda;
  border: 2px solid #c3e6cb;
  color: #155724;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  height: 40px;
  align-items: center;
  flex-wrap: wrap;
}
  .BoardBar p{
   
    margin: 0px 13px 0px 12px;
    font-size: 1.3em;
  }
  .BoardBar input {
    height: 25px;
  width: 150px;
  border-radius: 3px;
  font-size: 1em;
  margin-right: 10px;
  padding-left: 7px;
  margin-left: 10px;
  }
  .BoardBar button{
    height: 25px;
  width: 25px;
  border-radius: 50%;
  font-size: 1.2em;
  font-weight: bolder;
  padding: 0px 2px 0px 2px;
  }
    .BoardTrash{
      font-size: 1.5em;
      float: right;
      position: relative;
      right: 10px;
      margin-left: auto;
      font-weight: bolder;
  }
  .BoardCities{
    background-color: #d1ecf1;
  border: 1px solid #bee5eb;
  color: #0c5460;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  vertical-align: middle;
  align-items: center;
  display: flex;
  flex-wrap: wrap;

  }
  .Error{
  margin-left: 15px;
  font-weight: bolder;
  color: #830101;
  padding:3px;
  border-radius: 3px;
  border: 1px solid #c70000;
  background-color: rgb(250, 141, 141);
  }
  @media only screen and (min-width: 768px){
    .BoardBar{
      margin: 10px;
      height: 50px;
    }
    .BoardBar p{ font-size: 2em;}
    .BoardBar input{
      font-size: 1.4em;
      margin-right: 13px;
      padding-left: 10px;
      height: 35px;
      width: 200px;
    }
      .BoardBar button{
        height: 30px;
        width: 30px;
        font-size: 1.5em;
        padding: 0px 0px 0px 0px;
        
      }
      .BoardTrash{
        font-size: 1.7em;
      }
      
  }
  